# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are

1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. ggplot2

| Data Science Tools |
-------------------------------
| Anaconda       |
| Jupyter notebook |
| Spyder      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [20]:
#This a simple arithmetic expression to mutiply then add integers.

In [21]:
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60.

In [16]:
200/60

3.3333333333333335

***Objectives***

 #### List popular languages for Data Science
    - Python
    - R Language
    - C++

## Author

# Agu uchechi gift